/**
 * ----------------------------------------------------------------------------
 * toggleElements.css - Stylesheet for jQuery-Plugin toggleElements
 * ----------------------------------------------------------------------------
 */

 /* Screen ------------------------------------------------------------------- */

@media projection, screen {

	/* Toggler1 */

	.toggler1 {
		
		mergin: 0px;
		padding: 10px 0px;   
		cursor:pointer;
		text-decoration: none;
		
		font-size: 13px;
		font-weight:normal;
		line-height:14px;
		background: #fff;
		display: block;
		text-align: center;
		
		letter-spacing: 0.2em;
	
		color: #000;
		/* border:1px #aaa solid; */
		

	}
	.toggler1-closed {
		color: #666;
		border:1px #999 solid;
	}

	.toggler1-closed:hover {
		color: #000;
		border:1px #000 solid;
	}

	.toggler1-opened {
		color: #000;
		border:1px #000 solid;
	}
	.toggler1-opened:hover {
		color: #666;		
		border:1px #999 solid;
	}


	/* Container */
	.toggler1-c {
		color: #000;
		font-size: 9px;
		letter-spacing: 0.2em;
		

		background: #eef;
		/* width:470px; */
	   
		padding: 0px;		
	}
	
	.toggler1-c-closed {
		/* ここにpadding-top, bottomを設定すると表示がカクつく */
		padding: 0px 10px;
	}

	.toggler1-c-opened {
		
		/* ここにpadding-top, bottomを設定すると表示がカクつく */
		padding: 0px 10px;
	}
}

