body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,p,blockquote,th,td{margin:0;padding:0;} 
table{border-collapse:collapse;border-spacing:0;} 
fieldset,img{border:0;} 
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;} 
ol,ul {list-style:none;} 
caption,th {text-align:left;} 
1,h2,h3,h4,h5,h6{font-size:100%;}
q:before,q:after{content:'';} 

* {
	padding: 0;
	margin: 0;
}


body{
	text-align: center;
	margin: 0px 0px 0px 0px; Å@/*è„âEâ∫ç∂*/
	padding: 0px 0px 0px 0px;Å@/*è„âEâ∫ç∂*/
	font-size: 80%;
	font-family: "Times New Roman", "ÇlÇr ñæí©", Serif;
	color: #000;
}

/*
a:link { color: #aaa; text-decoration: none;}
a:visited { color: #000; text-decoration: none;}
a:hover { color: #000; text-decoration: none; }
a:active { color: #000; }
*/

/** /
a:link hover{

	color: #f00;
	text-decoration : none;
}
/**/


/* ëÂäOÇÃòg*/
.examples {
	border: solid 1px #fff;
	background: #fff;
	padding: 0px;
	margin: 0 0px 0 0px;
	overflow: hidden;
}

/*----------------------container-------------*/
#container{
	text-align: center;
	margin: 0px auto 0px auto;
	padding: 0px 0px 0px 0px;
	width: 470px;
}



/*----------------------ÉwÉbÉ_---------------*/
#header{
	text-align: center;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}


#page{
	text-align: center;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}




#page h1{
	margin:30px 0px 30px 0px;
	padding:0px 0px 0px 0px;
	text-align: center;
	color: #000;
	font-size:13px;
	font-weight: normal;
	letter-spacing: 0.2em;
}

#page h1 p{	
}

#page h1 small{
	margin: 0px;
	padding: 0px;
	
	color: #666;
	font-size: 9px;
}



/*------çïÉoÉbÉNÅ{ê¸------*/
#page h2{

	margin:20px 0px 20px 0px;
	padding:0px 0px 0px 0px;
	text-align: left;
	color: #000;
	font-size:12px;
	font-weight: normal;
	letter-spacing: 0.2em;

}


#page h2 p
{	
	margin:10px 0px 10px 0px;
	padding:0px 0px 0px 0px;
	text-align: left;
	color: #000;
	word-wrap: break-word; 
}

#page h3 {
	margin:10px 0px 10px 0px;
	padding:0px 0px 0px 0px;
	text-align: center;
	color: #000;
	font-size:12px;
	font-weight: normal;
	letter-spacing: 0.1em;
	
}

#page h3 p{

	line-height: 2.0em;
}





#page h4 
{
	margin:40px 0px 10px 0px;
	padding:0px 0px 0px 0px;
	text-align: left;
	color: #000;
	font-size: 12px;
	font-weight: normal;
	letter-spacing: 0.1em;
	
	/** / background: #00f; /**/
}

#page h4 p
{
	padding:2px 0px 2px 0px;
}

#page h4 small
{
	margin:2px 0px 2px 0px;
	padding:0px 0px 0px 0px;
	text-align: left;
	color: #333;
	font-size: 10px;
	font-weight: normal;
	letter-spacing: 0.1em;
	line-height: 11px;
}


#page h5
{
	margin:5px 0px 20px 0px;
	padding:0px 0px 0px 0px;
	text-align: left;
	color: #333;
	font-size: 13px;
	font-weight: normal;
	letter-spacing: 0.1em;
	line-height: 18px;
	/** / background: #f00; /**/
}

#page h5 p.jp{
	/* margin:10px 0px; */
	font-size: 12px;
	letter-spacing: 0.2em;
	font-family: "ÇlÇr ñæí©", Serif;
	line-height: 19px;
}

#page h5 img
{
	margin:3px 0px 20px 0px;
	
	width: 428px;

	text-align: center;
	/* padding:10px 0px; */

}

#page h5 img.about
{
	/* margin:10px 0px 10px 10px; */
	
	width: 120px;

	text-align: left;
	padding:0px 15px 20px 0px;

}

#page h5 a:link		{ color: #faa; text-decoration: none; }
#page h5 a:visited	{ color: #faa; text-decoration: none; }
#page h5 a:hover 	{ color: #f66; text-decoration: none; }
#page h5 a:active 	{ color: #faa; text-decoration: none; }


/*---------------------footer---------------*/
#footer{
	margin: 30px auto;
	padding: 0px;
	clear: both;
	font-size: 10px;
	color : #000;

}


#footer p{
	margin: 0;
	padding: 0;	
	width: 470px;
	text-align: center;
}

#footer p.line{
	border-bottom: 1px #000 solid;
}

#footer p.credit{
	text-align: center;
	font-size: 4px;
	color: #eee;
}


.left{
	text-align: left;
} 

.center
{
	text-align: jusifie;
}

.justify
{
	text-align : justify ;
	text-justify : inter-ideograph ; 
}



#page p.jp{
	/* margin:10px 0px; */
	font-size: 12px;
	letter-spacing: 0.2em;
	font-family: "ÇlÇr ñæí©", Serif;
	line-height: 20px;
}

span.eng
{
	font-family: "Times New Roman", "ÇlÇr ñæí©", Serif;
}